<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :razon_social %>
    <%= f.input :rut %>
    <%= f.input :representante %>
    <%= f.input :giro %>
    <%= f.input :doreccion %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
