<p id="notice"><%= notice %></p>

<h1>Listing User</h1>

<table>
  <thead>
    <tr>
      <th>Razon social</th>
      <th>Rut</th>
      <th>Representante</th>
      <th>Giro</th>
      <th>Doreccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.mail %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.representante %></td>
        <td><%= user.current_sign_in_at %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
