<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @user.razon_social %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.rut %>
</p>

<p>
  <strong>Representante:</strong>
  <%= @user.representante %>
</p>

<p>
  <strong>Giro:</strong>
  <%= @user.giro %>
</p>

<p>
  <strong>Doreccion:</strong>
  <%= @user.doreccion %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
