<p id="notice"><%= notice %></p>

<h1>Listing Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Razon social</th>
      <th>Rut</th>
      <th>Representante</th>
      <th>Giro</th>
      <th>Doreccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.razon_social %></td>
        <td><%= empresa.rut %></td>
        <td><%= empresa.representante %></td>
        <td><%= empresa.giro %></td>
        <td><%= empresa.doreccion %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa', new_empresa_path %>
