<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @empresa.razon_social %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @empresa.rut %>
</p>

<p>
  <strong>Representante:</strong>
  <%= @empresa.representante %>
</p>

<p>
  <strong>Giro:</strong>
  <%= @empresa.giro %>
</p>

<p>
  <strong>Doreccion:</strong>
  <%= @empresa.doreccion %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
