<!-- <div class="contain-to-grid"> -->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to("Trackex", root_path) %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to("Compañia", companies_path) %></li>
        <li><%= link_to("Empleados", employees_path) %></li>
        <li><%= link_to("Autos", cars_path) %></li>
        <li><%= link_to("Gastos") %></li>

        <li class="has-dropdown"><%= link_to("Users") %>
          <ul class="dropdown">
            <li><%= link_to "Agregar" %></li>
        </ul>
        </li>
      </ul>
    </section>
  </nav>
<!-- </div> -->